.title {
  text-align: center;
  margin: auto auto 1em; }

.superscript {
  font-size: small;
  vertical-align: super; }

body {
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; }

.topmenu {
  font-weight: bold;
  background: #ccc;
  cursor: pointer;
  padding: 0.1em .5em; }
  .topmenu:hover {
    background: #aaa; }

.submenu {
  font-weight: bold;
  background: #eee;
  cursor: pointer;
  padding: 0.1em .5em;
  margin: 0.7em 0 0; }
  .submenu:hover {
    background: #ccc; }

.nodd {
  color: #808080; }

.shortcut {
  font-family: Monaco monospace;
  font-size: 1.12em;
  color: #c40000; }

.cmdname {
  text-align: left; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto auto auto 6em;
  width: 50%; }

.menulist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column; }
  .menulist dd dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .menulist dd dl dt {
      -ms-flex-item-align: start;
          align-self: flex-start; }
    .menulist dd dl dd {
      -ms-flex-item-align: end;
          align-self: flex-end; }

.keyheader {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80%; }

.quickfind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 5em; }
  .quickfind span {
    display: block;
    text-align: center;
    margin: auto auto 1em; }
