.title {
    text-align: center;
    margin: auto auto 1em;
}

.superscript {
    font-size: small;
    vertical-align: super;
}

body {
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

.topmenu {
    font-weight: bold;
    background: #ccc;
    cursor: pointer;
    padding: 0.1em .5em;
    &:hover {
        background: #aaa;
    }
}

.submenu {
    font-weight: bold;
    background: #eee;
    cursor: pointer;
    padding: 0.1em .5em;
    margin: 0.7em 0 0;
    &:hover {
        background: #ccc;
    }
}

.nodd {
    color: $gray;
}

.shortcut {
    font-family: Monaco monospace;
    font-size: 1.12em;
    color: $cherry;
}
