.title {
    text-align: center;
    margin: auto auto 1em;
}

.shortcutcols {
    border-bottom: thin solid $gray;
}

.superscript {
    font-size: small;
    vertical-align: super;
}

body {
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

.parentcol {
    background: #ccc;
    cursor: pointer;
    &:hover {
        background: #aaa;
    }
}

.childcol {
    text-indent: 2em;
}

.subcol1 {
    text-indent: 3em;
}

.cmdname {
    text-align: left;
}

.shortcut {
    text-align: right;
}
