main {
    display: flex;
    flex-flow: column;
    margin: auto auto auto 6em;
    width: 50%;
}

.menulist {
    display: flex;
    flex-flow: column;
    dd {
        dl {
            display: flex;
            flex-flow: column;
            dt {
                align-self: flex-start;
            }
            dd {
                align-self: flex-end;
            }
        }

    }
}

.keyheader {
    display: inline-flex;
    margin: 0 1em;
    justify-content: center;
    max-width: 80%;
}

.quickfind {
    display: flex;
//    position: fixed;
    justify-content: center;
    align-items: center;
    right: 5em;
    span {
        display: block;
        text-align: center;
        margin: auto auto 1em;
    }
}
