// Colors
$adobe: #f00;
$gray: #999;
$wrmgray: #8a7967;
$charc: #6a737b;
$orange: #fbb034;
$yllw: #ffdd00;
$green: #c1d82f;
$blue: #0084e4;

// Placeholders
%sort {
    &::after {
        font-family: "fontawesome";
        content: "/f0dc";
    }
}

%sortup {
    &::after {
        font-family: "fontawesome";
        content: "/f0de";
    }
}

%sortdwn {
    &::after {
        font-family: "fontawesome";
        content: "/f0dd";
    }
}